body
{
	padding-top: 55px;
}
.top5 {
	margin-top: 5px;
}
.top7 {
	margin-top: 7px;
}
.pixTable
{
    display: table;
    border: solid;
    border-width: thick;
    border-color: gray;
    cursor: pointer;
}
.pixRow
{
    display: table-row;
}
.pixCell
{
    display: table-cell;
    border: solid;
    border-width: thin;
    border-color: gray;
    background-color: black;
    width: 6%;
}
.pixCell:before
{
	content: '';
	padding: 40% 0;
	display: inline-block;
}
