.pixTable
{
    display: table;
    border: solid;
    border-width: thick;
    border-color: gray;
    cursor: pointer;
}
.pixRow
{
    display: table-row;
}
.pixCell
{
    display: table-cell;
    border: solid;
    border-width: thin;
    border-color: gray;
    background-color: black;
    width: 30px;
    height: 30px;
}