<!DOCTYPE html>
<html lang="en">
	<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        {% if title %}
		<title>{{ title }} - PixelBox App</title>
		{% else %}
		<title>PixelBox App</title>
		{% endif %}
        <!-- Bootstrap -->
		<link href="static/css/bootstrap.css" rel="stylesheet" media="screen">
        <!-- Spectrum Color Picker https://bgrins.github.io/spectrum/ -->
		<link href="static/css/spectrum.css" rel="stylesheet">
        <link href="static/css/main.css" rel="stylesheet">
	</head>
	<body>
		<ul class="nav nav-pills">
			<li><a href="/settings">Settings</a></li>
			<li><a href="/images">Images</a></li>
			<li><a href="/table">Edit</a></li>
		</ul>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="static/js/bootstrap.min.js"></script>
        <script src="static/js/spectrum.js"></script>
		{% block content %}{% endblock %}
    </body>
</html>