<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
	<div class="container-fluid">
		<!--Table content-->
		<form action="update_pixels" method="post" name="pixForm" id="pixForm">
			{{ form.imgid(value=imgid) }}
			{{ form.frame(id="frame", value=frame) }}
			<div class="container">
				<div class="input-group">
					<div class="input-group-addon">Name</div>
					<input type="text" class="form-control" id="imagename" name="imagename" value="{{ imgname }}">
					<div class="input-group-addon">Anim? <input type="checkbox" name="animated" data-size="mini" data-on-text="Yes" data-off-text="No" data-on-color="success" {% if animated %}checked{% endif %}></div>
				</div><!-- /input-group -->
			</div><!-- /container -->
			<div class="pixTable" style="width: 100%">
				{% for r in range(16) %}
				<div class="pixRow">
					{% for c in range(16) %}
					<div class="pixCell" id="{{ r }}_{{ c }}" style="background-color:#{{ pixels[r][c] }};">
						<input type="hidden" name="pix_r{{ r }}_c{{ c }}" value="row={{ r|string }},col={{ c|string }},h={{ pixels[r][c] }}" />
					</div><!-- /pixCell -->
					{% endfor %}
				</div><!-- /pixRow -->
				{% endfor %}
			</div><!-- /pixTable -->
			<div class="well well-sm">
				<div class="collapse" id="framecontrols">
					<div class="row">
						<div class="col-xs-6 text-left">
							<div class="btn-group">
								<button type="button" class="btn btn-default" id="prev-frame" name="prev-frame" data-frame-dir="-1" {% if frame|int == 1 %}disabled="disabled"{% endif %}><span class="glyphicon glyphicon-fast-backward"></span></button>
								<button type="button" class="btn btn-default" id="play" name="play"><span class="glyphicon glyphicon-play"></span></button>
								<button type="button" class="btn btn-default" id="next-frame" name="next-frame" data-frame-dir="1" {% if frame|int == totframes|int %}disabled="disabled"{% endif %}><span class="glyphicon glyphicon-fast-forward"></span></button>
							</div><!-- /btn-group -->
						</div><!-- /col -->
						<div class="col-xs-2 text-center">
							<h5 class="text-center">{{ frame }}/{{ totframes }}</h5>
						</div>
						<div class="col-xs-4 text-right">
							<div class="btn-group">
								<button type="button" class="btn btn-default" id="del-frame" name="del-frame" {% if totframes|int == 1 %}disabled="disabled"{% endif %}><span class="glyphicon glyphicon-minus"></span></button>
								<button type="button" class="btn btn-default" id="add-frame" name="add-frame"><span class="glyphicon glyphicon-plus"></span></button>
							</div><!-- /btn-group -->
						</div><!-- /col -->
					</div><!-- /row -->
					<div class="row top7">
						<div class="col-xs-4 text-right">Speed</div>
						<div class="col-xs-8 text-center">
							<input type="text" name="fps-slider" data-provide="slider" data-slider-min="1" data-slider-max="20" data-slider-step="1" data-slider-value="{{ fps }}" data-slider-tooltip="hide">
						</div><!-- /col -->
					</div><!-- /row -->
				</div><!-- /collapse -->
				<div class="row top7">
					<div class="col-xs-5 text-center">
						<input type='text' id='myPicker' name='myPicker' />
						&nbsp;
						<button type="button" class="btn btn-default" id="fill"><span style="color:gray">Fill</span></button>
					</div><!-- /col -->
					<div class="col-xs-7 text-center">
						<div class="btn-group">
							<button type="button" class="btn btn-default" data-move-pixels="left" name="moveleft"><span class="glyphicon glyphicon-arrow-left"></span></button>
							<button type="button" class="btn btn-default" data-move-pixels="up" name="moveup"><span class="glyphicon glyphicon-arrow-up"></span></button>
							<button type="button" class="btn btn-default" data-move-pixels="down" name="movedown"><span class="glyphicon glyphicon-arrow-down"></span></button>
							<button type="button" class="btn btn-default" data-move-pixels="right" name="moveright"><span class="glyphicon glyphicon-arrow-right"></span></button>
						</div><!-- /btn-group -->
					</div><!-- /col -->
				</div><!-- /row -->
			</div><!-- /well -->
			<div class="contianer">
				<span class="pull-left">
					<label class="btn btn-default btn-file" for="importfile">
						Import<input type="file" style="display: none;" id="importfile" onchange="onFileSelected(event)">
					</label>
				</span>
				<span class="pull-right">
					<button type="button" class="btn" id="revertbtn" disabled="disabled">Revert</button>
					<button type="button" class="btn" id="savebtn" data-loading-text="Saving..." disabled="disabled">Save</button>
				</span>
			</div><!-- /container -->
		</form>
	</div>
	<script type="text/javascript">
		$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
		var mouse_is_down = false;
		var runFlag = false;
		$setColor = "ffffff";
		$( "input[name='animated']").bootstrapSwitch();
        $( "#myPicker" ).spectrum({
            showPaletteOnly: true,
            togglePaletteOnly: true,
            hideAfterPaletteSelect: true,
            showSelectionPalette: true,
            change: function(color) {
            	$( "#fill" ).css( "background-color", color );
            }
        });
        function setButtons() {
            $( "#savebtn" ).removeAttr( "disabled" );
            $( "#revertbtn" ).removeAttr( "disabled" );
            $( "#revertbtn" ).addClass( "btn-success" );
            $( "#savebtn" ).addClass( "btn-warning" );
            $( "#add-frame" ).attr("disabled", "disabled");
        }
        $( "input[name='animated']").on("switchChange.bootstrapSwitch", function(event, state) {
        	$( "#framecontrols" ).collapse("toggle");
 			setButtons();
        });
        $( document ).ready(function() {
			$( "li" ).removeClass("active");
			$( "#nav-edit" ).addClass("active");
			$( "#myPicker" ).spectrum( "set", $setColor );
			if ($( "input[name='animated']").bootstrapSwitch("state")) {
				$( "#framecontrols" ).collapse("show");
			}
        });
        $( ".pixCell" ).mousedown(function() {
            $setColor = $("#myPicker").spectrum("get");
            $( this ).css( "background-color", $setColor );
            var value = $( this ).find( "input" ).val().split(",");
            var newValue = value[0] + "," + value[1] + ",h=" + $setColor.toHex();
            $( this ).find( "input" ).val( newValue );
            setButtons();
            mouse_is_down = true;
        });
        $( document ).mouseup(function() {
            mouse_is_down = false;
        });
        $( ".pixCell" ).mouseenter(function() {
            if (mouse_is_down) {
				$( this ).css( "background-color", $setColor );
				var value = $( this ).find( "input" ).val().split(",");
				var newValue = value[0] + "," + value[1] + ",h=" + $setColor.toHex();
				$( this ).find( "input" ).val( newValue );
				setButtons();
            } 
        });
        $( "#fill" ).click(function() {
        	$setColor = $( "#myPicker" ).spectrum("get");
            $( ".pixCell" ).css( "background-color", $setColor );
            $( ".pixCell input" ).each(function() {
				var value = $( this ).val().split(",");
				var newValue = value[0] + "," + value[1] + ",h=" + $setColor.toHex();
				$( this ).val( newValue );
            });
            setButtons();
        });
        $( "#revertbtn" ).click(function() {
            location.reload();
        });
        $( "#savebtn" ).click(function() {
        	var $btn = $( this ).button("loading");
			$.ajax({
				url: "/update_pixels",
				data: $( "#pixForm" ).serialize(),
				type: "POST",
				dataType: "json",
				success: function( response ) {
					if (response.status == "OK") {
						$btn.button("reset");
						window.setTimeout( function() {
							$( "#revertbtn" ).attr( "disabled", "disabled" ).removeClass( "btn-success" );
							$( "#savebtn" ).attr( "disabled", "disabled" ).removeClass( "btn-warning" );
							$( "#add-frame" ).removeAttr( "disabled" );
						}, 100)
					}
				},
				error: function( error ) {
					console.log(error);
				}
			});
		});
        $( "[data-move-pixels]" ).click(function() {
        	var pixArray = []; 
			while(pixArray.push([]) < 16);
        	var dir = $( this ).data("move-pixels");
            $( ".pixCell input" ).each(function() {
				var value = $( this ).val().split(",");
				var r = parseInt(value[0].split("=")[1]);
				var c = parseInt(value[1].split("=")[1]);
				if (dir == "up" || dir == "down") {
					pixArray[r][c] = value[2].split("=")[1];
				} else if (dir == "left" || dir == "right") {
					pixArray[c][r] = value[2].split("=")[1];
				}
            });
        	if (dir == "up" || dir == "left") {
        		var first = pixArray.shift();
        		pixArray.push(first);
        	}
        	if (dir == "down" || dir == "right") {
        		var last = pixArray.pop();
        		pixArray.unshift(last);
        	}
        	if (dir == "up" || dir == "down") {
				for (var r=0; r<16; r++) {
					for (var c=0; c<16; c++) {
						var val = "row=" + r + ",col=" + c + ",h=" + pixArray[r][c];
						$( "input[name='pix_r" + r + "_c" + c + "']" ).val( val);
						var id = "#" + r + "_" + c;
						$( id ).css( "background-color", "#" + pixArray[r][c] );
					}
				}
			} else if (dir == "left" || dir=="right") {
				for (var c=0; c<16; c++) {
					for (var r=0; r<16; r++) {
						var val = "row=" + r + ",col=" + c + ",h=" + pixArray[c][r];
						$( "input[name='pix_r" + r + "_c" + c + "']" ).val( val);
						var id = "#" + r + "_" + c;
						$( id ).css( "background-color", "#" + pixArray[c][r] );
					}
				}
			}
        	setButtons();
        });
		function setPixelFrame(frame, pixelFrame) {
			for (var r=0; r<16; r++) {
				for (var c=0; c<16; c++) {
					var val = "row=" + r + ",col=" + c + ",h=" + pixelFrame[r][c];
					$( "input[name='pix_r" + r + "_c" + c + "']" ).val( val);
					var id = "#" + r + "_" + c;
					$( id ).css( "background-color", "#" + pixelFrame[r][c] );
				}
			}
		}
		function toggleGreen( $btn ) {
			if ($btn.hasClass( "btn-success" )) {
				$btn.removeClass( "btn-success" );
			} else {
				$btn.addClass( "btn-success" );
			}
		}
		function playFrames() {
			var pixFrames = new Array({{ totframes + 1 }});
			for (var i=1; i<pixFrames.length; i++) {
				var tmp = []
				while(tmp.push([]) < 16);
				pixFrames[i] = tmp;
			}
			$.getJSON( $SCRIPT_ROOT + "/_get_animation", {
				imgid: $( "#imgid" ).val()
			}, function(data) {
				$.each( data.pixels, function ( index, value ) {
					var r = value.row;
					var c = value.col;
					var f = value.frame;
					var h = value.hex;
					//console.log(f, r, c, h);
					pixFrames[f][r][c] = h;
				});
				//console.log(pixFrames);
				function loopdelay(j) {
					var fps = $( "input[name='fps-slider']" ).val();
					var speedms = (1 / fps) * 1000;
					if (j < pixFrames.length && runFlag) {
						//console.log(pixFrames[j]);
						setPixelFrame(j, pixFrames[j]);
						setTimeout(function() {
							j++;
							loopdelay(j);
						}, speedms);
					} else if (runFlag) {
						loopdelay(1);
					}
				}
				loopdelay(1);
			});
		}
		$( "#play" ).click(function() {
			toggleGreen( $( this ) );
			runFlag = !runFlag;
			if (runFlag) {
				setTimeout(playFrames(), 0);
			}
		});
        $( "#add-frame" ).click(function() {
        	$( "#pixForm" ).attr( "action", "add_frame" );
        	$( "#pixForm" ).submit();
        });
        $( "#del-frame" ).click(function() {
        	$( "#pixForm" ).attr( "action", "delete_frame" );
        	$( "#pixForm" ).submit();
        });
		$( "[data-frame-dir]" ).click(function() {
			var dir = $( this ).data("frame-dir");
			$( "#frame" ).val( {{ frame }} + parseInt(dir) );
        	$( "#pixForm" ).attr( "action", "table" );
        	$( "#pixForm" ).submit();
		});
		$( "input[name='fps-slider']" ).on("slide", function() {
			setButtons();
		});
	</script>
{% endblock %}